
.container {
	margin-top:18%;
	color: white;
	z-index: 2;
}

.accueil {
	position:absolute;
	top:3%;
	right:3%;
	color:white;
	z-index: 2;
	font-size: 180%;

}
.titre {
	position:absolute;
	left:3%;
	top:3%;
	color:white;
	z-index: 2;
	font-size: 300%;
	font-style: italic;
	font-family:arial black;

}
.alert {
	z-index: 3;
	color:black!important;



}

body {
	background-color: black!important;
	background-image: url("image.png");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
